<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                    <h5> Achievements and Projects Completed </h5>
                        <p>✔Project Manager (Detteware Call Center System)</p>
                        <p>✔Development, installation and configurations of Detteware Call Center system</p>
                        <p>✔System support and maintenance (Detteware Call Center system)</p>
                        <p>✔ERP: System Administrator</p>
                        <p>✔Application: RedEye(School System)(online but due to security reasons not published)</p>             
                         <p>✔Web-App: Truck system..online (trucky.net)</p>
                                   <h6>Website</h6>
                                   <p>✔Website : jarachmedia.com</p>
                                    <p>✔Website: Extracraftinvestments.co.zw</p>
                                    <p>✔Website: wellcashdc.com</p>
                                    <p>✔Website: rootproproperties.com</p>
                                    <p>✔Website: realstarsec.com</p>
                                    <p>✔Git:vhuto1.io website profile</p>
                              
                                    
                                    <h6> Other in Progress </h6> 
                                    <p>Population and Healthy (Django)</p>
                                    <p> Cv portal(Django)</p>

                </p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Strength</h3>
                <ul>
                    <li>
                    ⮚	Computer literate i.e. Microsoft applications (Microsoft Office and Windows Systems)</li>
                  <li>  ⮚	Database management System Administrator</li>
                <li>⮚	Application development (CMS)</li>
            <li>⮚	Hardware engineering support</li>
        <li>  ⮚	Securing data (computer security)</li>
    <li>   ⮚	ERP and Cloud based Systems</li>
                  <li>  ⮚	ICT support and Help desk</li>
                
           
                </ul>
            </div>
        </div>
    </div>
</section>