<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    Passionate Programmer of all the time 1,5 years experience
                </p>
                <p>
                    Software Developer at heart
                </p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Highlights</h3>
                <ul>
                    # Coming Soon
                </ul>
            </div>
        </div>
    </div>
</section>