<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    My personal interests include:
                </p>

                <ol>
                      <li>Cloud Computing</li>
                      <li>Business data analytics</li>
                      <li>Data Science (AI)</li>
                      <li>Cyber Security</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Recent Projects</h3>
                <ol>
                   <li>Call Center System<li>
                   <li>Realstar Websites</li>
                   <li>ERP system for any organisation</li>
                </ol>
            </div>
        </div>
    </div>
</section>